.social-icon{
    display: grid;
    place-items: center;
    width: 48px;
    height: 48px;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 1.5rem;
    transition: all .5s;
}

.social-icon:hover{
    background-color: #CF09A4;
    border: 2px solid #CF09A4;
}
